<footer id="footer">
    <div class="row social-container">
        <div class="col-sm-12 col-lg-7 center-block">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" alt="The Entrepreneurs' Organization on Facebook" title="The Entrepreneurs' Organization on Facebook" href="http://www.facebook.com/EntrepreneursOrganization" target="_blank">
                            <i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" alt="The Entrepreneurs' Organization on twitter" title="The Entrepreneurs' Organization on twitter" href="http://twitter.com/EntrepreneurOrg" target="_blank">
                            <i class="fa fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" alt="The Entrepreneurs' Organization on LinkedIn" title="The Entrepreneurs' Organization on LinkedIn" href="https://www.linkedin.com/company-beta/15154/?pathWildcard=15154" target="_blank">
                            <i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" alt="The Entrepreneurs' Organization on YouTube" title="The Entrepreneurs' Organization on YouTube" href="http://www.youtube.com/user/EOnetwork" target="_blank">
                            <i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" alt="Octane Magazine Blog" title="Octane Magazine Blog" href="http://blog.eonetwork.org/" target="_blank">
                            <i class="fa fa-wordpress"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="circle">
                        <a style="text-decoration: none;" title="The Entrepreneurs' Organization on flickr" href="http://www.flickr.com/photos/entrepreneursorganization/" target="_blank">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </div>
                </div>
            </div>
            <p class="copyright">© <span id="copyrigthYear">2018</span> Entrepreneurs' Organization</p>
        </div>
    </div>
  </footer>
