<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1 class="logo">
          <a href="https://www.eonetwork.org">
            <img src="/images/eo-logo2.jpg" width="189" height="58" alt="entrepreneurs organization" title="entrepreneurs organization">
          </a>
        </h1>
      </div>
      <div class="col-sm-12 col-md-6">
        <ul class="header-nav path-nav-bar" style="visibility: hidden;">
          <li>
            <a href="javascript:pathEmbeds.navigateTo('/searches')">
              <i class="fa fa-search"></i> SEARCH
            </a>
          </li>
          <li>
            <a class="path-logged-in" href="javascript:pathEmbeds.navigateTo('/profile')">
              <i class="fa fa-user"></i> PROFILE
            </a>
          </li>
          <li>
            <a class="user path-logged-out" href="javascript:pathEmbeds.navigateTo('/profile')">
              <i class="fa fa-user"></i> MEMBER LOGIN
            </a>
          </li>
          <li>
            <a class="user path-logged-in" href="javascript:pathEmbeds.navigateTo('/sign_out')">
              <i class="fa fa-sign-out"></i> LOGOUT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
<nav class="navbar navbar-default navbar-static-top navbar-main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        MENU <i class="fa fa-bars"></i>
      </button>
    </div><!-- /.navbar-header -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="javascript:pathEmbeds.navigateTo('/')">HOME</a></li>
        <li><a href="javascript:pathEmbeds.navigateTo('/events')">EVENTS</a></li>
        <li><a href="javascript:pathEmbeds.navigateTo('/courses')">COURSES</a></li>
        <li><a href="javascript:pathEmbeds.navigateTo('/searches')">SEARCH</a></li>
        <li><a href="javascript:pathEmbeds.navigateTo('/cart')">CART</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<div class="content-title-background">
  <div class="container">
    <h2 class="content-title">EO Learning Management System</h2>
  </div>
</div>
